body {
    /* background-color: #f5f5f5; */
    background-color: #161a25;
}

label {
    display: block;
    text-align: center;
    margin-bottom: 10px;
    color: silver;
}

.row {
    margin-bottom: 1%;
}

H2, H1 {
    color: white
}

.graph {
    background-color: green;
}

.text-center {
    color: silver;
    margin-top: 2%;
    margin-bottom: 2%;
}

.header {
    background-color: darkslateblue;
    color: white;
}

#pool_data > div {
    height: 65px;
    padding: 1px;
}

#pool_data > div > label {
    text-align: left;
    color: black;
    font-weight: bold;
}

#pool_data > div > .pool_size{
    text-align: center;
    font-weight: normal;
    font-size: larger;
}

#pool_up {
    background-color: lightseagreen;
}

#pool_down {
    background-color: darkorange;
}

#pool_profit {
    background-color: royalblue;
}


.tab {
    color: silver;
    background-color: #161a25 !important;
    font-family: "system-ui";
    display: flex !important;
    align-items: center;
    justify-content: center;
    border-right: 0px !important;
    border-left: 0px !important;
    border-top: 0px !important;
}

.tab--selected {
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
    color: #e3e3e3 !important;
    background-color: #1c212e !important;
    border-color: silver !important;
    padding-top: 1% !important;
}